<a href="https://colab.research.google.com/github/divyam2605/SYNAPSE/blob/main/ML_Task_2_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task 2

In [ ]:
from google.colab import drive
drive.mount("/content/gdrive")

Mounted at /content/gdrive

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
data = pd.read_csv("/content/gdrive/MyDrive/Task2p1/Task2p1_0.csv")
data

  Student  Division
0        A        a
1        B        a
2        C        c
3        D        b
4        E        c
5        F        a
6        G        c

In [ ]:
data = pd.read_csv("/content/gdrive/MyDrive/Task2p1/Task2p1_1.csv")
data

  Student  Division
0        A        b
1        B        b
2        C        a
3        D        c
4        E        b
5        F        c
6        G        a

The divisions of students are changed as displayed in the two datasets. Perhaps they are of different years.